<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355574235095-a61999stumv8k8hac9te18jc3648ab26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355574235095-a61999stumv8k8hac9te18jc3648ab26</string>
	<key>API_KEY</key>
	<string>AIzaSyDrs39nzQDEzSjGoplQLnQwD9d1jAjhp84</string>
	<key>GCM_SENDER_ID</key>
	<string>355574235095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nonograms</string>
	<key>PROJECT_ID</key>
	<string>rn-nonograms</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-nonograms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355574235095:ios:cbd32dbeaddb7733b35592</string>
</dict>
</plist>